.body-container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 100px;
}
.background-image-div
{
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 1;
}
.body
{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    gap: 10px;
    justify-content: center;
}
.bar 
{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.bar1-text
{
    font-weight: bold;
    display: inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    background-color: gray;
}
.bar1
{
    display: flex;
    flex-direction: column;
}
.bar2
{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.bar2-text
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 30px;
    background-color: gray;
}
.forum
{
    z-index: 2;
    background-color: rgb(93, 147, 163);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 10px;
    height: 500px;
    width: 200px;
}
.forum-tt 
{
    width: 98%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-style: solid;
    border-color: black;
    height: 50px;
}
.forum-title
{
    font-weight: bold;
    font-family: fantasy;
    justify-self: center;
    font-size: 40px;
    margin-top: 0;
}
.forum-messages
{
    border-style: solid;
    border-color: rgba(207, 26, 26, 0.49);
    flex: 1;
    background-color: rgba(227, 196, 176, 0.455);
}
.your-messages
{
    border-style: solid;
    border-color: black;
    height: 25px;
}