.searchbar
{
    font-size: 16px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
    flex: 1;
    width: 290px;
    max-width: 400px;
}
.page-header
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 3;
}
.title_holder
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: auto;
}
.searbar::placeholder
{
    font-family: 'Times New Roman', Times, serif;
}
.three-icons
{
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: absolute;
    right: 10px;
    max-width: 400px;
    align-self: center;
}
.header-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}